@charset "UTF-8";
/*tabの位置調整*/
#tab-control {
	text-align:right;

}
/*tabのデザイン*/
#tab-control a {
   display: inline-block;            /* インラインブロック化 */
   border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
   border-style: solid;              /* 枠線の種類：実線 */
   border-color: black;              /* 枠線の色：黒色 */
   border-radius: 0.75em 0.75em 0 0; /* 枠線の左上角と右上角だけを丸く */
   padding: 0.75em 1em;              /* 内側の余白 */
   text-decoration: none;            /* リンクの下線を消す */
   color: black;                     /* 文字色：黒色 */
   background-color: white;          /* 背景色：白色 */
   font-weight: bold;                /* 太字 */
   position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}
/*tabの上にカーソルを乗せた際*/
#tab-control a:hover {
	text-decoration: underline;
}
/*タブの中身を表示する*/
.tab{
	border: 1px solid black;
	margin-top: -16px;
	padding: 1em;
	background-color:white;
	position: relative;
	z-index: 0;
}

/*
**ログイン画面のstyle
*/

#login-tab {
	text-align:center;	
}
.color-swatch {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }


    #color-box {
      background-color: transparent;
      border: 1px solid #999;
      color: #000;
    }


    #color-options {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
	  gap: 5px;
      width: max-content;
      margin-bottom: 10px;
    }


    .hidden {
      display: none;
    }
	

/*
**デザイン画面のstyle
*/

/*デザイン入力欄の設定*/
#input-field {
	float:right;
	padding-right:50px;
}
/*デザイン表示欄の設定*/
#view-design {
	height:500px;
	width:500px;
	border:1px solid;
	float: left;
}
/*枚数入力欄と注文確定ボタンの設定*/
#order-submit {
	padding-top:500px;
	text-align:center;
}

/*
**ここから注文履歴のstyle
*/
#history-table {
	border-collapse: collapse;
	border:0.5px solid ;
}
#history-table th{
	border:0.5px solid
}
#history-table td{
	border:0.5px solid
}